<div class="md:flex">
    <div class="md:flex-shrink-0 mt-3 mb-3 ml-3 ">
        <img class="h-48 w-full object-cover md:w-48"
            src="../../../assets/IconStudy.png"
            alt="Imagen de la tarjeta">
    </div>
    <div class="p-8 text-center">
        <div class="block mt-1 text-lg leading-tight font-medium text-black">
            Bienvenido 🎉🎉🥳 </div>
        <p class="mt-2 text-gray-500">Te hare unas preguntas y asi podre
            determinar
            que carrera mas adecuada para ti 📓📓 </p>

        <button
            (click)="notify()"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-5">
            Vamos 🎯🎯
        </button>
    </div>
</div>
