<div class="parallax-container">
	<div class="parallax-layer parallax-bg"></div>
	<div class="parallax-layer parallax-overlay"></div>
	<!-- Capa de superposición transparente -->
	<div class="parallax-layer">

		<div
			class="flex items-center justify-center h-screen animate__animated animate__zoomIn">
			<div class="p-4 text-white shadow">
				<div
					class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
					<div class="md:flex">

						<app-card-welcome [hidden]="hiddenWelcome"
							(notifyParent)="onNotify($event)"></app-card-welcome>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
